<div class="my-3 p-5">
    <button type="button" class="btn btn-primary mb-2" routerLink="../">Back...</button>
<h2>Custome Observable</h2>
<br>
<div class="row">
    <div class="col-md-6">
          <strong> example 01 (manual)</strong>
          <hr>
          <ul [ngClass]="status == 'completed' ? 'completed': status =='error'?'error':''" class="list" id="elcontainer">

          </ul>
    </div>
    <div class="col-md-6" >
        <strong> example 02 (custome interval Observable)</strong>
        <hr>
        <ul class="list " id="elcontainer1" [ngClass]="status2 == 'completed' ? 'completed': status2 =='error'?'error':''">

        </ul>
  </div>

</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-12">
        <strong> example 03 (Randome Name)</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Randome Name</strong> 'amresh','shakher','sharma','ramesh','mahesh','rahul'
        </p>
        <hr>
        <p>current name : <strong > {{name}}</strong></p>
        <span class="badge bg-success badge-success" [ngClass]="namestatus == 'completed' ? ' badge-success':
        namestatus =='error'?' badge-danger':'badge-primary'">suscess</span>
    </div>
</div>

</div>
