<header>
  <!-- Navbar -->
  <nav class=" p-2" style="height: 69px;">
    <ul class=" nav d-flex  flex-nowrap">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home" ><h5>HOME</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  routerLink="epmpoyee"><h5>EMPLOYEE</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link active"  routerLink="contact"><h5>CONTACT</h5></a>
      </li>
    </ul>
  </nav>
  <!-- Navbar -->
</header>

