/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
}
.overflow-hidden {
   overflow: hidden;
}

.overflow-auto {
   overflow: auto;
}
/* =============================== start helper css ==========================================*/
 .all-unset{
    all: unset;
 }
 .d-flex{
    display: flex;  
}
.flex-column{
   flex-direction: column;
}
.flex-grow-1{
   flex-grow: 1;
}
.h-100{
   height: 100%;
}
.w-100{
   width: 100%;
}
.justify-content-between{
   justify-content: space-between;
}

.align-item-center{
   align-items: center;
}
.c-pointer{
   cursor: pointer;
}
.icon{
   font-size: 20px;
   color: #aeb4c2;
}
.icon-aside{
   font-size:20px;
   color: #aeb4c2;
}

ul {
   list-style: none;
}
.d-link{
   text-decoration: none;
}

img{
   max-width: 100%;
   height: auto;
}

/* =============================== end helper css ==========================================*/


/* =============================== start hover css ==========================================*/

.profile-image:hover{
   transform: scale(1.1);
}

.icon-hover:hover {
   color: rgb(58, 182, 89);
   transform: scale(1.1);
   

}
.card:hover{
   background-color: rgb(116, 184, 184);
   color: white;
   transform: scale(1.1);

}

.card:hover .card-icon {
  color: black;
}

.bg-color-primary:hover{
  background-color: aqua;
  

}

 /* =============================== End hover css ==========================================*/


/* =============================== start header css ==========================================*/
.main-header{
   background-color: hsl(0deg 0% 100%);
   padding:20px;
   border:1px solid #e7e7e7 ;
}
.header-icon{
   font-size: 25px;
}
.header-icon-toggle{
   font-size: 35px;
   margin-left: 20px;
}
/*  search bar css  */
.align-item-wrapper{
   margin-left:150px;
  }
 .search-box{
    background-color:#f8f8f8;
    padding-left: 14px;
 }
 .btn{
    padding: 10px 15px;
    background-color: hsl(214deg 95% 62%);
 }

 /* header right side css */
 .align-item-space{
   margin: 0 30px 0 0;
 }
 /*  profile image div css */
.profile-image{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   transition: 1s;
}

/*   Notification status  css */
.notification_status{
   position: relative;
   padding: 6px;
}
 .notification_status ::after{
   position: absolute;
   right:0 ;
   top: 0;
   content: '';
   height: 5px;
   width: 5px;
   background: red;
   border-radius: 50%;
}
/*   Notification status  css */



/* =============================== End header css ==========================================*/

/* =============================== start sidebar css ==========================================*/
#toggleSideBar {
   display: none;
} 

.nav-link{
   display: flex;
   align-items: center;
   padding: 16px 24px; 
   
}

.nav-text {
   margin-left: 10px;
  font-size: 12px;
  }

.aside-box{
      width: 200px;
      transform: translateX(0); 
      transition: .35s ease-in-out;
      border-right: 1px solid #e7e7e7;
}

#toggleSideBar:checked + .aside-box{
   width: 0;
   transform: translateX(-200px);
}
.overlap{
   position: relative;
}
/* =============================== End sidebar css ==========================================*/
/* =============================== start main css ==========================================*/

#main-heading{
 background-color: #f8f8f8;
 padding: 16px;
}

.row{
   flex-wrap: wrap;
   margin: 0 -15px;
}
.card-wrapper{
   width: 25%;
   padding: 0 15px;
   margin-top: 30px;
}
.card{
   padding: 20px;
   background-color: #fff;
   transition: .22s ;
  
}
.icon-wrapper{
   padding: 16px;
   background-color: #f5f7f9;
   display: inline-block;
   margin-bottom: 25px;
}
.card h4{
   font-weight: 400;
}
.card h2{
  padding-bottom: 12px;
  border-bottom: 1px solid #ebebed;
  margin-bottom: 10px;
}

/* =============================== start main css ==========================================*/

/* =============================== start table css ==========================================*/
.table-wrapper{
   width: 100%;
   background-color: white;
   padding:20px;
   margin-top: 35px;  
 }

.table-wrapper1{
   width: 100%;
   background-color: aqua;
   margin-top: 35px; 
   padding:20px;
}
table {
   width:100%;
   border-spacing: 0px 15px;
   border: none;
   
 }
 th, td {
   text-align: center;
   padding: 20px;
  
 }
.bg-color-primary{
   background-color:hsl(210deg 25% 97%);
   transition: s;
 }

 .table-image{
   width: 50px;
   margin-right: 50px;
   
 }
.side-table-image{
   width: 50%;
   height: auto;
}

/*
============================== start media Query==========================================*/

@media (max-width: 1200px) {
  #main-heading{
   background: blue;
}
  .card-wrapper{
width: 33%;
  }

  
 }
 @media (max-width:900px) {
   #main-heading{
      background: red;
   }
   .card-wrapper{
    width: 50%;
   }
  }
  @media (max-width:600px) 
  {
   #main-heading{
      background: yellow;
   }
   .card-wrapper{
    width: 100%;
   }
   .search-box{
      display: none;
   }
   .aside-box{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
      background-color:white;
      color: #f8f8f8;
   }

  }
  

