<div class="p-4">
    <h3> Of-Creation Operator</h3>
    <p>The of Operator is a creation Operator. Creation Operators are functions that create an Observable stream from a source.</p>
   <p>The of Operator will create an Observable that emits a variable amount of values in sequence, followed by a Completion notification.</p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rouded"><strong>Data</strong> of('amresh','ramesh','ravi','mahesh','yogesh')</p>
            <hr>
            <ul id="elcontainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rouded"><strong>Data</strong> of(&#123;a:'amresh',b:'ramesh',c:'ravi',d:'mahesh',e:'yogesh'&#125;)</p>
            <hr>
            <ul>
                <li> A: {{message.a}}</li>
                <li> B: {{message.b}}</li>
                <li> c: {{message.c}}</li>
                <li> D: {{message.d}}</li>
                <li> E: {{message.e}}</li>
            </ul>
        </div>
      
    </div>
</div>