<div class="p-4">
  <h4> Map</h4>
  <div class="row">
    <div class="col-md-4">
      <strong>example -1</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map </strong>'video'+ data
      </p>
      <br>
      <p>Data comming here..</p>
      <div>
        <ul id="container"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>example -2</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong> data * 2
      </p>
      <br>
      <p>Data comming here..</p>
      <div>
        <ul id="container2"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>example -3</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map </strong>Map Object data
      </p>
      <br>
      <p>Data comming here..</p>
      <div>
        <ul id="container3"></ul>
      </div>
    </div>
  </div>
</div>
