*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   html,
   body{
       width: 100%;
       height: 100%;
      
   }
   .main-container{
       width: 100%;
       height: 100%;
       background-color: rgba(60, 143, 43, 0);
   }
   
   .sub-container{
       width:70%;
       height: 70%;
       border: 2px solid white;
       background-color: black;
       color: aliceblue;
       border: 1px solid red;
       padding: 20px;
       box-shadow: 7px 5px 5px 5px #611d1d;
   }
   .d-flex{
       display: flex;
   }
   .justify-content-center{
       justify-content: center;
   }
   .align-items-ceneter{
       align-items: center;
   }
   
   div h2 {
       font-size: 40px;
   }
   
   .d-column{
   flex-direction: column;
   }
   
   .Slected {
       padding: 10px  300px;
       margin-bottom: 60px;
       font-size: 19px;
   }