<h4  class="ms-4 mt-4">{{title}}</h4><br>
<form class="ms-4">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div><br>
  <div class="form-group">
    <label for="name">Email address</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter email">
  </div><br>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div><br>

  <button *ngIf="!customerid" type="submit" class="btn btn-primary mt-3" (click)="onSave()">Add</button>
  <button *ngIf="customerid" type="submit" class="btn btn-primary mt-3" (click)="onSave()">Edit</button>

  <button type="button" class="btn btn-primary mt-3 ms-2" routerLink="../">Cancel</button><br><br>
</form>
