<div class="main-container d-flex h-100">
  <!--===== start Navigation bar ====-->
  <div class="aside header h-100">
    <app-navigation></app-navigation>
  </div>
  <!--===== End Navigation bar ====-->
  <div class="section flex-grow-1 h-100">
    <!--===== start header ====-->
    <div class="header">
      <app-header></app-header>
    </div>
    <main class="flex-grow-1 d-flex flex-column h-100">
      <!-- ====== End  header ====-->
      <div class="h-100">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
