
<div class="main-container  d-flex h-100 flex-column ">
  <!-- header -->
  <div>
     <app-header></app-header>
    </div>

  <!-- end -->
  <div class="main border border-secondary d-flex h-100 ">
    <!-- side bar -->

      <div class="aside">
    <app-navigation></app-navigation>
      </div>
      <main class="border border-secondary flex-grow-1 d-flex  align-items-cente">
        <router-outlet></router-outlet>
      </main>
    </div>

  <!-- footer -->
<app-footer></app-footer>
</div>


