
<div class="container mt-4">
  <button type="button" class="btn btn-primary" routerLink="../add">Add customer</button><br><br>
  <h3>Customer list</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of collection">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['../','edit',customer.id]">Edit</button>
          <button type="button" class="btn btn-primary ms-2" (click)="BookDelete(customer.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
