<!-- <p> Word Counter Pipe in action below</p>
  <h1>{{ customText | wordcount }}</h1> -->
<div class="mt-4 p-4 h-100">
  <button type="button" class="btn btn-primary" routerLink="../add">Add customer</button><br><br>
  <div class="overflow-auto" style="height: 300px;">
    <table class="table " >
    <thead>
      <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Email</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of collection">
        <td>{{customer.id}}</td>
        <td>{{customer.firsName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['../','edit',customer.id]">Edit</button>
          <button type="button" class="btn btn-primary ms-2" (click)="onDelete(customer.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
</div>
