<div class="p-4">
    <h3> from-Creation Operator</h3>
    <p>Creates an Observable from an Array, an array-like object, a Promise, an iterable object, or an Observable-like object.</p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h3>array</h3>
            <p class="bg-light py-2 px-3 border rouded"><strong>Data </strong>from(['amresh','ramesh','ravi','mahesh','yogesh'])</p>
            <hr>
            <ul id="elcontainer"></ul>
        </div>
        <div class="col-md-6">
            <h3>Promises</h3>
            <p class="bg-light py-2 px-3 border rouded"><strong>Data</strong> Promise to Observable</p>
            <hr>
            <ul id="elcontainer2"></ul>
        </div>  
        <div class="col-md-6">
            <h3>String</h3>
            <p class="bg-light py-2 px-3 border rouded"><strong>Data</strong> String  to Observable</p>
            <hr>
            <ul id="elcontainer3"></ul>
        </div>  
    </div>
</div>