<div class="p-4">
  <h3>RXJS-MAIN</h3>
  <div class="d-flex mt-3">
    <div  class="mx-5 container d-flex justify-content-center align-items-center ">
      <h6 routerLink="../formEvent">FormEvent</h6>
    </div>  
    <div class="mx-4 container d-flex justify-content-center align-items-center">
      <h6 routerLink="../interval">Interval</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../timer">Timer-Operator</h6>
    </div>
    <div class="mx-4 container d-flex justify-content-center align-items-center" >
      <h6 routerLink="../of">Of-Operator</h6>
    </div>
    <div class="mx-4 container d-flex justify-content-center align-items-center" >
      <h6 routerLink="../from">From-Operator</h6>
    </div>
    <div class="mx-4 container d-flex justify-content-center align-items-center" >
      <h6 routerLink="../toarray">ToArray-Operator</h6>
    </div>
  </div>

  <div class="d-flex mt-3">
    <div
      class="mx-5 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../observable">OBSERVABLE</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../subject">SUBJECT</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../behavioural">BEHAVIOURAL<br />SUBJECT</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../replay">REPLAY<br />SUBJECT</h6>
    </div>
  </div>
  <div class="pt-4 d-flex">
    <div
      class="mx-5 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../async">ASYANC<br />SUBJECT</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../promiss">PROMMISS</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../promiss">PROMMISS</h6>
    </div>
    <div
      class="mx-4 container d-flex justify-content-center align-items-center"
    >
      <h6 routerLink="../promiss">PROMMISS</h6>
    </div>
  </div>
</div>
