<h2 class="ms-5 mt-2"> EMPLOYEE LIST</h2>
<input type="text" [(ngModel)]="search" placeholder="Serach any fields" />
<div class="p-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Phone No</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of employee | search:search">
        <td>{{list.id}}</td>
        <td>{{list.firstname}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.email}}</td>
        <td>
          <button type="button" class="btn btn-danger me-2" (click)="onDelete(list.id)">Delete</button>
          <button type="button" class="btn btn-primary me-2" (click)=" employedetails(list)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>