/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list li{
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 13px;
  margin-bottom: 10px;
}

ul.list.error li{
  color: red;
  background: rgb(255, 0,0, 0.18);
  border-color: red;
}

ul.list.completed li{
  color: green;
  background: rgb(61, 216,67, 0.18);
  border-color:green;
}
// viewv ing capsulation
