<div class="p-5">
  <button mat-raised-button color="primary" (click)="adduser()">Add user</button><BR>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">FIRSTNAME</th>
        <th scope="col">LASTNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE NO</th>
        <th scope="col">PASSWORD</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userlist">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.phoneno}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editUser(user)">EDIT</button>
          <button type="button" class="btn btn-danger ms-3" (click)=" onDelete(user.id)">DELETE</button>
          <!-- <button type="button" class="btn btn-success ms-3">DETAILS</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>